*{
    margin: 0;
   padding: 0;
   overflow-x: hidden;
   background: #FF98D6;

}
body{
    text-align: center;
}
h1{
    margin-top: 0;
}
h2{
    font-family: cursive;
}

.header{
    
    background-color:#FF98D6;
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-link{
    color: #111;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px;
}
.navigation{
    background-color: #FF98D6;
    position:fixed;
    overflow-y: none;
    min-width: 100vw;

  
}
.body_data{
    display: grid;
    grid-template-columns: 40% 60%;
}
.pro{
    color: blueviolet;
}
.footer{
    background-color:#FF98D6;

}
.logo{
    padding-left: 15px;
}
.container{
    font-size: 35px;
    font-family: cursive;
    margin-top: 180px;
}
.footer{
    display: flex;
    height: 75vh;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    }
.item{
    margin: 30px;
    width: 30vw;
    border-radius: 49px;
background: #FF98D6;
box-shadow:  29px 29px 23px #f290cb,
             -29px -29px 23px #ffa0e1;    
}
.item:hover{
    border-radius: 49px;
    background: #FF98D6;
    box-shadow:  -29px -29px 23px #f290cb,
                 29px 29px 23px #ffa0e1;
}

.butn{
    height: 8%;
    width:60%;
    border:2px solid black
}
.btn-ctn{
    display: flex;
    align-content: center;
    justify-content: center;
}
.ji{
    padding: 8px;
    font-family: cursive;
    font-weight: 250;
}
.social-media{

    display: inline-block;
}