body{
    margin: 0;
    text-align: center;
}
h1{
    margin-top: 0;
}
.header{
    display: flex;
    justify-content: space-between;

}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-link{
    color: #111;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px;
}
.navigation{
    background-color: #CAF0F8;
  
}
.body_data{
    display: grid;
    grid-template-columns: 40% 60%;
}
.pro{
    color: blueviolet;
}
.footer{
    background-color: #00B4D8;
   
    border: solid;


}